<div class="subscriber-data-examples">
  <div class=""><b>Currently supported "Subscriber data" ecomail fields:</b></div>
  <div class="supported-field"><i>name, surname, email, vokativ, vokativ_s, company, city, street, zip, country, phone, pretitle, surtitle, birthday</i></div>
  <div class="example-usage">
    <b>Example of expected values:</b>
    <ul>
      <li>name: Jaroslav</li>
      <li>surname: Novák</li>
      <li>email: jaroslav@novak.cz</li>
      <li>vokativ: Jaroslave</li>
      <li>vokativ_s: Nováku</li>
      <li>company: Firma</li>
      <li>city: Praha</li>
      <li>street: Národní 15</li>
      <li>zip: 100 00</li>
      <li>country: CZ</li>
      <li>phone: 777 888 999</li>
      <li>pretitle: Ing.</li>
      <li>surtitle: Csc.</li>
      <li>birthday: 1984-01-01</li>
    </ul>
  </div>

</div>